{% extends 'base/base.html' %}
{% load static %}

{% block content %}
    <!-- About US-->
    <div class="about-us">
        <h1>Online store of licensed software</h1>
        <div class="description">
            <!-- LEFT COLUMN -->
            <div class="about-detail">
              <p>
                Our store has been selling original codes and activation keys since 2010 – 
                for operating systems, office products, antivirus programs, 
                file-sharing resources, software and more.
              </p>
              <div class="hero-btn">
                <button class="primary">Shop Now</button>
                <button class="secondary">Sign up</button>
              </div>
            </div>
          
            <!-- RIGHT COLUMN -->
            <div class="about-paragraph">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                <br/><br/>
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
            </div>
          </div>
          
    </div>
{% endblock content %}