{% extends 'base/base.html' %}
{% load static %}

{% block content %}
<!-- HERO Section-->
    <div class="hero-container">
        <h1 class="heading">Topup Lb sells original codes & activation keys</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud
            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <div class="hero-btn">
            <a href=""><button class="primary">Shop Now</button></a>
            <a href=""><button src="{% url 'login' %}" class="secondary">Sign up</button></a>
        </div>
    </div>
    {% endblock content %}