{% extends 'base/base.html' %}

{% block content %}
   <!-- New Arrivals-->
    <div class="newArrivals-container">
        <h1>New Arrivals</h1>
        <div class="new-products">
            <div class="card-wrapper">
                <img src="./assets/product1.jpeg" alt="img">
                <div class="card-body">
                    <div class="card-heading">
                        <h3>Windows 10 Professional EN x32/x64</h3>
                        <span>Microsoft > Windows > Office365</span>
                    </div>
                    <p class="card-description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing
                        elit, sed do eiusmod tempor incididunt ut labore et ......
                    </p>
                    <div class="product-price">
                        <h4>12.45 $</h4>
                        <div class="card-btn">
                            <button class="cart"><img src="./assets/icons/shopping-cart.svg" alt="cart"></button>
                            <button class="primary-btn">More</button>
                        </div>

                    </div>
                </div>
            </div>

            <div class="card-wrapper">
                <img src="./assets/product1.jpeg" alt="img">
                <div class="card-body">
                    <div class="card-heading">
                        <h3>Windows 8.1 Full version EN x32/x64</h3>
                        <span>Microsoft > Windows > Office365</span>
                    </div>
                    <p class="card-description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing
                        elit, sed do eiusmod tempor incididunt ut labore et ......
                    </p>
                    <div class="product-price">
                        <h4>12.45 $</h4>
                        <div class="card-btn">
                            <button class="cart"><img src="./assets/icons/shopping-cart.svg" alt="cart"></button>
                            <button class="primary-btn">More</button>
                        </div>

                    </div>
                </div>
            </div>

            <div class="card-wrapper">
                <img src="./assets/product1.jpeg" alt="img">
                <div class="card-body">
                    <div class="card-heading">
                        <h3>Windows 10 PRO version EN x32/x64</h3>
                        <span>Microsoft > Windows > Office365</span>
                    </div>
                    <p class="card-description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing
                        elit, sed do eiusmod tempor incididunt ut labore et ......
                    </p>
                    <div class="product-price">
                        <h4>12.45 $</h4>
                        <div class="card-btn">
                            <button class="cart"><img src="./assets/icons/shopping-cart.svg" alt="cart"></button>
                            <button class="primary-btn">More</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}