{% extends 'base/base.html' %}
{% load static %}

{% block content %}

{% include 'base/navbar.html' %}

<div class="newArrivals-container web_size products-container">
    <h1>Windows Products</h1>
    <div class="new-products products">
        {% for product in products_list %}
            <div class="card-wrapper">
                {% if product.image %}
                <img src="{{ product.image.url }}" alt="img">
                {% else %}
                <img src="{% static 'assets/product1.jpeg'%}" alt="img">
                {% endif %}
                <div class="card-body">
                    <div class="card-heading">
                        <h3>{{ product.name }}</h3>
                        <span>Microsoft > Windows > Office365</span>
                    </div>
                    <p class="card-description">
                        {{ product.description }}
                    </p>
                    <div class="product-price">
                        <h4>{{ product.price }} $</h4>
                        <div class="card-btn">
                            <a href="{% url 'add-to-cart' product.id %}"><button class="cart"><img src="{% static 'assets/icons/cart.svg' %}" alt="cart"></button></a>
                            <a href="{% url 'product_detail' product.id %}"><button class="primary-btn">More</button></a>
                        </div>

                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
  </div>

{% include 'base/footer.html' %}

{% endblock content %}